extends base

block content
    main.main
        .login-form.container.text-center  
            h2.heading-secondary.ma-bt-lg Forgot your password?
            form.form.form--forgotpassword.form-horizontal.mb-3  
                .form-group.row  
                    label.col-form-label(for='email' class='col-sm-3') Email address  
                    .col-sm-9
                        input#email.form-control(type='email' placeholder='you@example.com' required)  
                .form-group.row  
                    .offset-sm-3.col-sm-9  
                        button.btn.btn-success.btn--forgotpassword(type='submit') Send reset link  
