extends base

block content
    main.main
        .row.justify-content-center
            .col-4
                .login-form
                    h2.heading-secondary.ma-bt-lg Log into your account
                    form.form.form-login
                        .form-group.form__group 
                            label.form__label(for='email') Email address  
                            input#email.form-control.form__input(type='email' placeholder='you@example.com' required)  
                        .form-group.ma-bt-md  
                            label.form__label(for='password') Password 
                            input#password.form-control.form__input(type='password' placeholder='••••••••' required minlength='8')  
                        .form-group  
                            button.btn.btn-success.btn--green.btn--login Login  
                            br
                            br
                            a.overview-box__label#forgotpassword(href='/forgetpassword') Forgot your password?
