extends base

block content
  .container
    h1 Add New Tour
    form(id='newTour')
      .form-group
        label(for='name') Name:
        input#name.form-control(type='text', name='name', required)
      .form-group
        label(for='duration') Duration (days):
        input#duration.form-control(type='number', name='duration', required)
      .form-group
        label(for='maxGroupSize') Max Group Size:
        input#maxGroupSize.form-control(type='number', name='maxGroupSize', required)
      .form-group
        label(for='difficulty') Difficulty:
        select#difficulty.form-control(name='difficulty', required)
          option(value='easy') Easy
          option(value='medium') Medium
          option(value='difficult') Difficult
      .form-group
        label(for='price') Price:
        input#price.form-control(type='number', name='price', required)
      .form-group
        label(for='summary') Summary:
        textarea#summary.form-control(name='summary', rows='3', required)
      .form-group
        label(for='description') Description:
        textarea#description.form-control(name='description', rows='5')
      .form-group
        label(for='imageCover') Image Cover (max 1 photo):
        input#imageCover.form-control(type='file', name='imageCover', accept='image/*')
      .form-group
        label(for='images') Images (max 3 photos):
        input#images.form-control(type='file', name='images', accept='image/*' multiple)
      .form-group
        label(for='startDates') Start Dates:
        input#startDates.form-control(type='text', name='startDates', placeholder='YYYY-MM-DD,YYYY-MM-DD,...')
      .form-group
        label(for='startLocation') Start Location:
        input#stdescription.form-control(type='text', name='startLocation[description]', placeholder='Description')
        input#startLocation.form-control(type='text', name='startLocation[type]', value='Point', readonly style='display:none;')
        input#stlat.form-control(type='text', name='startLocation[coordinates][0]', placeholder='Latitude')
        input#stlng.form-control(type='text', name='startLocation[coordinates][1]', placeholder='Longitude')
        input#staddress.form-control(type='text', name='startLocation[address]', placeholder='Address')
      .locations-container
        .form-group.locations-group
          label(for='locations-0') Location:
          input#locdescription-0.form-control(type='text', name='locations[0][description]', placeholder='Description')
          input#loctype-0.form-control(type='text', name='locations[0][type]', value='Point', readonly style='display:none;')
          input#loclat-0.form-control(type='text', name='locations[0][coordinates][0]', placeholder='Latitude')
          input#loclng-0.form-control(type='text', name='locations[0][coordinates][1]', placeholder='Longitude')
          input#locday-0.form-control(type='number', name='locations[0][day]', placeholder='Day')
        button#addLocation.btn.btn-secondary(type='button') Add New Location
      button.btn.btn-primary(type='submit') Add Tour
