extends base
block content
    style.
        p.hidden {
            visibility: hidden;
        }
    p#token.hidden= tokenId
    main.main.d-flex.align-items-center.justify-content-center.min-vh-100
        .container
            .row.justify-content-center
                .col-md-6
                    .card.shadow-lg
                        .card-body
                            h2.card-title.mb-4 Reset your password!
                            form.form.form--resetpassword
                                .form-group
                                    label(for='password') Password
                                    input#password.form-control(type='password' placeholder='••••••••' minlength='8' required)
                                .form-group
                                    label(for='passwordConfirm') Confirm Password
                                    input#passwordConfirm.form-control(type='password' placeholder='••••••••' minlength='8' required)
                                button.btn.btn-success.btn-block.btn--resetpassword(type='submit') Reset password
