extends base
block content
    style.
        p.hidden {
            visibility: hidden;
        }
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset your password!
            p#token.hidden= tokenId
            form.form.form--resetpassword
                .form__group
                    label.form__label(for='password') Password
                    input#password.form__input(type='password' placeholder='••••••••' minlength='8', required)
                .form__group
                    label.form__label(for='passwordConfirm') Confirm Password
                    input#passwordConfirm.form__input(type='password' placeholder='••••••••' minlength='8', required)
                .form__group
                    button.btn.btn--green.btn--resetpassword Reset password
