extends base

block content
    main.main.d-flex.align-items-center.justify-content-center.min-vh-100
        .login-form.text-center.col-12.col-md-6.col-lg-4
            h2.heading-secondary.mb-4 Create new account
            form.form.form--signUp
                .form-group
                    label.form__label(for='name') Fullname
                    input#name.form-control(type='text' placeholder='Firstname Lastname', required)  
                .form-group
                    label.form__label(for='email') Email address
                    input#email.form-control(type='email' placeholder='you@example.com', required)
                .form-group.mb-4
                    label.form__label(for='password') Password
                    input#password.form-control(type='password' placeholder='••••••••', required minlength='8')
                .form-group.mb-4
                    label.form__label(for='passwordConfirm') Confirmation(password)
                    input#passwordConfirm.form-control(type='password' placeholder='••••••••', required minlength='8')
                .form-group
                    button.btn.btn--green.btn--signup.btn-primary(type='submit') Signup
