extends base

block content
    main.main.col-4.d-flex.align-items-center.justify-content-center.min-vh-100
        .login-form.text-center  
            h2.heading-secondary.ma-bt-lg Create new account
            form.form.form--signUp.form-group.text-left 
                .form__group.form-group  
                    label.form__label.form-label(for='name') Fullname
                    input#name.form-control.form-input(type='text' placeholder='Firstname Lastname', required)  
                .form__group.form-group
                    label.form__label.form-label(for='email') Email address
                    input#email.form-control.form-input(type='email' placeholder='you@example.com', required)
                .form__group.form-group.ma-bt-md
                    label.form__label.form-label(for='password') Password
                    input#password.form-control.form-input(type='password' placeholder='••••••••', required minlength='8')
                .form__group.form-group.ma-bt-md
                    label.form__label.form-label(for='passwordConfirm') Confirmation(password)
                    input#passwordConfirm.form-control.form-input(type='password' placeholder='••••••••', required minlength='8')
                .form__group.form-group
                    button.btn.btn--green.btn--signup.btn-primary(type='submit') Signup  
