footer.footer.bg-light.pt-3
  .container
    .row
      .col-md-6
        a.footer__logo
          img(src="/img/logo-green.png" alt="Natours logo" width="150")
      .col-md-6
        ul.nav
          li.nav-item
            a.nav-link(href="#") About us
          li.nav-item
            a.nav-link(href="#") Contact
    .row
      .col-12
        p.text-center &copy; by Hossein Farahkordmahaleh (Designed by: Jonas Schmedtmann). All rights reserved.
